.productCard {
  width: 30%;
  height: 500px;
  cursor: pointer;
}

.productCard:hover {
  transition: 1s;
  transform: scale(1.05);
  border: 2px solid chartreuse;
}

.pointer {
  cursor: pointer;
}

.cardImg {
  height: 50%;
  object-fit: contain;
}

.detailImage {
  height: 500px;
  object-fit: contain;
}

.cartItem {
  height: 300px;
}

.dot {
  border: 1px dotted grey;
}

.cartImage  {
  height: 100%;
  object-fit: contain;
}

@media screen and (max-width: 666px) {
  .productCard {
    width: 96%;
  }
}
