.productCard {
  width: 30%;
  height: 500px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.cardImg {
  height: 50%;
  object-fit: contain;
}

.detailImage {
  height: 500px;
  object-fit: contain;
}

.cartItem {
  height: 300px;
}

.dot {
  border: 1px dotted grey;
}

.cartImage  {
  height: 100%;
  object-fit: contain;
}
