body {
  background-image: url(/images/background.jpg);
}

.white {
  background-color: white;
}

.inline {
  display: inline;
}

.header {
  background-color: #050177;
  position: fixed;
  top: 0;
  z-index: 400;
  width: 100%;
  height: 70px;
}

.header-padding {
  padding-top: 80px;
}

.choco-image {
  object-fit: contain;
  height: 30px;
}

.productCard {
  width: 30%;
  cursor: pointer;
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.productCard:hover {
  border: 2px solid #050177;
}

.pointer {
  cursor: pointer;
}

.cardImg {
  height: 50%;
  object-fit: contain;
  background-color: white;
}

.detailImage {
  object-fit: contain;
}

.cartItem {
  height: 200px;
  padding: 5px;
  background-color: white;
  border: 1px solid #050177;
}

.cartImage  {
  height: 100%;
  object-fit: contain;
}

.button-buy {
  width: 150px;
  margin-bottom: .8rem;
}

.description {
  border-top: 5px solid #050177;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.confirmation-modal {
  border: 5px solid cornflowerblue;
  text-align: center;
  width: 50%;
  padding: 10px;
  color: white;
  background-color: black;
}

.hidden {
  display: none;
}

@media screen and (min-width: 667px) {
  .detailImage {
    height: 300px;
  }
}

@media screen and (max-width: 666px) {
  .button-buy  {
    align-self: center;
  }
  .cartItem {
    font-size: .8rem;
    margin-right: 1px;
    margin-left: 1px;
  }

  .productCard {
    width: 96%;
  }

  .productDetails {
    width: 90%;
  }

  .detailImage{
    width: 100%;
  }

  .info-column {
    width: 100%;
  }

  .media-block  {
    display: block;
  }

  .col-6 {
    max-width: 100%;
    flex: 0 0 100%;
  }

  .cartItem {
    height: 300px;
  }
}

@media screen and (min-width: 1025px) {
  .cartItem {
    max-width: 70%;
  }
}
